# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code specific
.vscode/

# PyCharm specific
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Python egg files
*.egg
